body {
  background-color: darkorchid;
}

.container {
  width: 400px;
  padding: 0px;
  text-align: center;
  margin: 0 auto;
  border: 5px solid #c4cddb;
  border-top-color: #d3dbde;
  border-bottom-color: #bfc9dc;
  box-shadow: 0 1px 1px #ccc;
  border-radius: 5px;
  position: relative;
  background: #fefefe;
}
h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  background: #eff4f7;
}
input {
  padding: 10px 10px;
  border: 1px solid #d5d9da;
  border-radius: 5px;
  cursor: pointer;
}
